---
import { slide, fade } from "astro:transitions";
import desarrollo from "../assets/gifs/desarrollo.gif";
import doblado from "../assets/gifs/doblado.gif";
import soldaduratig from "../assets/gifs/soldaduratig.gif";
import soldaduramig from "../assets/gifs/soldaduramig.gif";
import cortetuberia from "../assets/gifs/cortetuberia.gif";
import cortelaser from "../assets/gifs/cortelaser.gif";




function getRandomTransition() {
  const transitions = [slide({ duration: "0.4s" }), fade({ duration: "0.4s" })];
  const randomIndex = Math.floor(Math.random() * transitions.length);
  return transitions[randomIndex];
}


const content=[
  {
    nombre:desarrollo,
    procedimiento: "Diseño y desarrollo de componentes mecánicos.",
    descripcion: "Una representación de la etapa de diseño y desarrollo en una empresa de ingeniería, mostrando a un equipo colaborando en el modelado 3D de un componente mecánico, con planos técnicos y prototipos en un ambiente industrial profesional.",
    pagina:"disdesa"
  },
  {
    nombre: doblado,
    "procedimiento": "Doblado de láminas metálicas.",
    "descripcion": "Imagen del proceso de doblado de láminas metálicas en una empresa de fabricación, destacando una máquina de prensa hidráulica en acción, diseñada para garantizar precisión en cada doblez."
  },
  {
    nombre: soldaduratig,
    "procedimiento": "Soldadura TIG en metales.",
    "descripcion": "Un soldador profesional realizando un proceso TIG en una empresa de manufactura avanzada, utilizando soldadura de alta precisión para unir componentes metálicos en un taller especializado."
  },
  {
    nombre: soldaduramig,
    "procedimiento": "Soldadura MIG en estructuras metálicas.",
    "descripcion": "Representación del proceso de soldadura MIG en una empresa industrial, con un soldador trabajando para ensamblar estructuras metálicas con precisión y calidad, rodeado de chispas dinámicas."
  },
  {
    nombre: cortetuberia,
    "procedimiento": "Corte láser de tuberías de acero inoxidable.",
    "descripcion": "Ilustración del corte de tuberías de acero inoxidable en una empresa especializada en procesos industriales, utilizando tecnología láser de alta precisión para garantizar cortes limpios y exactos."
  },
  {
    nombre: cortelaser,
    "procedimiento": "Corte láser de láminas metálicas.",
    "descripcion": "Una demostración del corte láser de láminas metálicas en una empresa de fabricación avanzada, con chispas brillantes y tecnología de punta que asegura resultados de alta calidad."
  }
]


---
<main  transition:animate={getRandomTransition()}>
  <h1 class="text-3xl font-bold mb-2 py-16 bg-slate-800 text-slate-50 text-center">Servicios</h1>
  <div class="grid gap-6 p-4 md:grid-cols-2 lg:grid-cols-3 bg-slate-800 ">
    
    {content.map((img) => (
      <a href={img.pagina}>
      <div class="bg-slate-800 shadow-md rounded-lg overflow-hidden hover:scale-105 transform transition">
        <img 
          src={img.nombre.src} 
          alt={img.procedimiento} 
          class="w-full h-48 object-cover" 
        />
        <div class="p-4">
          <h2 class="text-lg font-semibold text-slate-100">{img.procedimiento}</h2>
          <p class="text-sm text-slate-50  mt-2">{img.descripcion}</p>
        </div>
      </div>
      </a>
    ))}
  </div>
   
</main>